* {
    margin: 0;
    padding: 0;
    border: 0px;
    box-sizing: content-box;
}

.container {
    max-width: 1280px; 
    margin: 0 auto;
}

.table {
    margin: 0 auto;
}


.table__row {
    background-color: rgb(232, 225, 225);
}

.table__cell {
    border: 3px solid black;
    width: 100px;
}

.table__row--one, .table__row--four, .table__row--five {
    height: 75px;
}

.table__row--two, .table__row--three {
    height: 150px;
}

.table__row--six {
    height: 50px;
}

.table__row--seven {
    height: 25px;
}


[data-type="column--1"]{
  width: 50px;
}

[data-type="column--8"]{
    width: 25px
}

.table__cell--yellow {
    background-color: yellow;
}

.table__cell--red {
    background-color: red;
}

.table__cell--black {
    background-color: black;
    width: 20px;
}

.table__cell--blue {
    background-color: blue;
}
